h1 Hello #{name}
	ul(class="navbar-demo")
		li
			img(src="/images/logo-coderX.jpg", style="height: 25px; width: 25px")
		li 	
			a(href="/users") Users
		li
			a(href="/users/search") Search User
		li 	
			a(href="/users/create") Create New User

