extends ../layouts/common

block content
	h1 New Transfer

	form(method="POST")
		input(type="hidden", name="_scrf", value= csrfToken)
		.form-group
			label(for="account") Account
			input#account.form-control(type="text", name="accountId")

		.form-group
			label(for="amount") Amount
			input#amount.form-control(type="number", name="amount")

		button.btn.btn-primary Transfer